.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.mdl-layout__header {
    background-color: #FFD520;
}

.mdl-card__media{
    background-color: #6AC4AE;
}

.mdl-color--primary {
    background-color: #FFD520 !important;
}

.mdl-button--accent {
    background-color: #6AC4AE !important;
}

.mdl-button--colored {
    background-color: #FFD520 !important;
}

.docs-footer.mdl-mini-footer {
    position: relative;
    height: 90px;
    margin-top: 15%;
    bottom: 0;
    padding: 24px;
}

.login-container {
    padding: 24px;
    flex: none;
}

.margin-left-20 {
    margin-left: 20px;
}

.mdl-card__supporting-text {
    text-align: center;
    padding-top: 40px;
}